.villager-card {
    padding: .5rem;
    border: solid 3px green;
    border-radius: .5rem;
    margin: .5rem;
    background-color: rgb(130, 182, 156);
    display: flex;
}

.stats{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: .5rem;
}

.display-img {
    margin: .5rem;
    border-radius: .5rem;
}